/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       divi
 Version:        1.0.0
*/
 
 

.preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fefefe;
   z-index: 100000;
   height: 100%;
   width: 100%;
   overflow: hidden !important;
}
.preloader .status {
   width: 64px;
   height: 64px;
   position: absolute;
   left: 53%;
   top: 50%;
   background-image: url(https://cantayaktura.com.tr/acar/wp-content/uploads/preloader.gif);
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
   background-size: cover;
   margin: -50px 0 0 -50px;
}
div.hizmetler .et_pb_blog_grid .et_pb_post {
    border: none;
	padding:0;
}
.et_pb_toggle_content {
    background-color:#fff!important;
}
div#altmenu ul.sub-menu{
display:none;
}
html[lang="en-GB"] #gizletr {display: none!important;}
html[lang="en-GB"] #gizleru {display: none!important;}
html[lang="en-GB"] #gizlede {display: none!important;}
html[lang="de-DE"] #gizletr {display: none!important;}
html[lang="de-DE"] #gizleen {display: none!important;}
html[lang="de-DE"] #gizleru {display: none!important;}
html[lang="ru-RU"] #gizleen {display: none!important;}
html[lang="ru-RU"] #gizletr {display: none!important;}
html[lang="ru-RU"] #gizlede {display: none!important;}
html[lang="tr-TR"] #gizleen {display: none!important;}
html[lang="tr-TR"] #gizleru {display: none!important;}
html[lang="tr-TR"] #gizlede {display: none!important;}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index:9999;
}
#projebaslik a{
	color:#fff;
}
#logomenu{
  background-color: rgba(255,255,255,0);
  transition: background-color 0.5s ease-out;
}
div.scrollbg {
  background-color: rgba(255,255,255,0.8)!important;
  color: #fff!important;
}
.projeler .et_pb_portfolio_filters li a{
	background-color:black!important;
}
.projeler .et_pb_portfolio_filters li a.active{
	background-color: #1d6ace!important;;
}
#page-container {
  overflow-y: visible !important;
}
.et_pb_image_0_tb_header .et_pb_image_wrap img{
 height:60px;
 -webkit-transition: all 0.8s ease;
 -webkit-transition: all 0.8s ease-out;
 -moz-transition: all 0.8s ease-out;
 -o-transition: all 0.8s ease-out;
 transition: all 0.8s ease-out;
}
.line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}
.line-2 {
  top: 10px;
}
.line-3 {
  top: 20px;
}
.et-push-menu-toggle.open .line-1 {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.et-push-menu-toggle.open .line-2 {
  display: none;
}
.et-push-menu-toggle.open .line-3 {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.et-push-menu {
  display:none;
}
.et-fb .et-push-menu {
  display:block;
}
.et-push-menu-toggle {
  cursor:pointer;
}
ul.et_pb_tabs_controls:after{
	border:0px!important;
}
.et_mobile_menu .first-level > a {
background-color: transparent;
position: relative;
}
.et_mobile_menu .first-level > a:after {
font-family: 'ETmodules';
content: '\4c';
font-weight: normal;
position: absolute;
font-size: 16px;
top: 13px;
right: 10px;
}
.et_mobile_menu .first-level > .icon-switch:after{
content: '\4d';
}
.second-level {
display: none;
}
.reveal-items {
display: block;
}


li.lang-item {
    display: inline-block!important;
}
li.lang-item img {
    width: 20px!important;
    height: auto!important;
    margin-right: 8px;
}

div.et_pb_row_1_tb_header{
	overflow:visible!important;
}
div.et_pb_section{
	padding-top:0!important;
}
#post-2 h1.entry-title.main_title, #post-13 h1.entry-title.main_title, #post-14 h1.entry-title.main_title, #post-15 h1.entry-title.main_title {
	display:none;
}
div#snapwig div#custom_html-2 {
    margin-bottom: 0!important;
}

@media only screen and (max-width: 980px) {
    .three-columns .et_pb_column {
    width: 33%!important;
}
}
 
@media only screen and (max-width: 479px) {
    .three-columns .et_pb_column {
    width: 50%!important;
}
div.scrollbg img {
 height :40px!important;
 -webkit-transition: all 0.8s ease;
 -webkit-transition: all 0.8s ease-out;
 -moz-transition: all 0.8s ease-out;
 -o-transition: all 0.8s ease-out;
 transition: all 0.8s ease-out;
}
}
@media only screen and (max-width: 980px) {
.two-columns .et_pb_column {
width: 50%!important;
}
 
.three-columns .et_pb_column {
width: 33.33%!important;
}
 
.four-columns .et_pb_column {
width: 25%!important;
}
 
}
table.minimalistBlack {
  border: 3px solid #000000;
  width: 100%;
  max-width:500px;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}
table.minimalistBlack tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
} 